@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#3498db] text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300 h-[52px] mx-auto w-1/2 flex justify-center items-center uppercase;
  }
}
